*{
    margin: 0;
    padding: 0;
}

.pnf-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;

    background-repeat: no-repeat;
}
.pnf-btn{
    position: absolute;
    background-color: #2270e4;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    bottom: 50px;
}
.pnf-btn:hover{
    background-color: #195abd;
}