@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.card {
    padding: 16px;
    /* width: 300px; */
    text-align: left;
    background-color: var(--white);
}


.check-info {
    display: flex;
    margin-top: 30px;
}

.current {
    width: 50%;
}

.check-inout {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.btn-checkin {
    width: 45%;
    color: var(--white);
    margin: 5px;
    background-color: var(--green);
    border-radius: 5px;
    padding: 5px;
    pointer-events: auto;
}

.btn-checkin1 {
    width: 45%;
    color: white;
    margin: 5px;
    background-color: var(--green-disable);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.btn-brakein {
    width: 45%;
    color: white;
    margin: 5px;
    background-color: var(--orange-disable);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.btn-brakein1 {
    width: 45%;
    color: var(--white);
    margin: 5px;
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px;
    pointer-events: auto;
}

.btn-checkout {
    width: 45%;
    display: flex;
    color: var(--white);
    margin: 5px;
    background-color: var(--red-disable);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.btn-checkout1 {
    width: 45%;
    display: flex;
    color: var(--white);
    margin: 5px;
    background-color: var(--red);
    border-radius: 5px;
    padding: 5px;
    pointer-events: auto;
}

.btn-brakeout {
    width: 45%;
    color: var(--white);
    margin: 5px;
    background-color: var(--yellow-disable);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.btn-brakeout1 {
    width: 45%;
    color: var(--white);
    margin: 5px;
    background-color:var(--yellow);
    border-radius: 5px;
    padding: 5px;
    pointer-events: auto;
}

.btn-checkin a {
    text-decoration: none;
    color: var(--white);
}

.btn-checkin1 a {
    text-decoration: none;
    color: var(--white);
}

.btn-brakeout a {
    text-decoration: none;
    color: var(--white);
}

.btn-brakeout1 a {
    text-decoration: none;
    color: var(--white);
}

.btn-brakein a {
    text-decoration: none;
    color: var(--white);
}

.btn-brakein1 a {
    text-decoration: none;
    color: var(--white);
}

.btn-checkout a {
    text-decoration: none;
    color: var(--white);
}

.btn-checkout1 a {
    text-decoration: none;
    color: var(--white);
}

.attendace {
    margin-top: 15px;
}

.check-green {
    background-color: var(--green);
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
    color: var(--white);
}

.check-orange {
    background-color: var(--orange);
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
    color: var(--white);
}

.check-red {
    background-color: var(--red);
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
    color: var(--white);
}

.check-yellow {
    background-color: var(--yellow);
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
    color: var(--white);
}

.btn_in {
    display: inline;
}