@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
 :root{
    --primary-text-color: #4338ca;
    --secondary-text-color: #4b5563;
    --white: #ffffff;
    --black: #000000;
    --bg-color:#f1f5f9;
    --bg-secondary: #ffffff;
    --green: #008000;
    --green-hover: #005f00;
    --green-disable:#97f097;
    --blue-head: #040464;
    --red: #ff0000;
    --red-hover: #a10000;
    --red-disable: #dd9191;
    --orange: #faa018;
    --orange-hover: #cc8112;
    --orange-disable:#ffdc9c;
    --yellow:#bea725;
    --yellow-hover:#8a7502;
    --yellow-disable:#cec490;
    --bg-card: #ffffff;
    --card-shadow: #0000007e;
    --primary-head: #396aa1;
    --detail-text: #5d9abdc5;
}  */

:root {
    --primary-text-color: #4338ca;
    --secondary-text-color: #d1dcec;
    --white: #ffffff;
    --black: #000000;
    --bg-color: #252525;
    --bg-secondary: #191919;
    --green: #008000;
    --green-hover: #005f00;
    --green-disable: #abdfab;
    --blue-head: #040464;
    --red: #ff0000;
    --red-disable: #dd9191;
    --red-hover: #a10000;
    --orange: #faa018;
    --orange-disable: #ffdc9c;
    --orange-hover: #cc8112;
    --yellow: #bea725;
    --yellow-hover: #8a7502;
    --yellow-disable: #cec490;
    --bg-card: #2d3e44;
    --card-shadow: #ffffff7e;
    --primary-head: #65adff;
    --detail-text: #5d9abdc5;
}


/* [data-theme="dark"]{
    --primary-text-color: #4338ca;
    --secondary-text-color:#d1dcec;
    --white: #ffffff;
    --black: #000000;
    --bg-color:#252525;
    --bg-secondary: #191919;
    --green: #008000;
    --green-hover: #005f00;
    --green-disable:#abdfab;
    --blue-head: #040464;
    --red: #ff0000;
    --red-disable: #dd9191;
    --red-hover: #a10000;
    --orange: #faa018;
    --orange-disable:#ffdc9c;
    --orange-hover: #cc8112;
    --yellow:#bea725;
    --yellow-hover:#8a7502;
    --yellow-disable:#cec490;
    --bg-card: #2d3e44;
    --card-shadow: #ffffff7e;
    --primary-head: #65adff;
    --detail-text: #5d9abdc5;
} */

[data-theme="light"] {
    --primary-text-color: #4338ca;
    --secondary-text-color: #4b5563;
    --white: #ffffff;
    --black: #000000;
    --bg-color: #f1f5f9;
    --bg-secondary: #ffffff;
    --green: #008000;
    --green-hover: #005f00;
    --green-disable: #97f097;
    --blue-head: #040464;
    --red: #ff0000;
    --red-hover: #a10000;
    --red-disable: #dd9191;
    --orange: #faa018;
    --orange-hover: #cc8112;
    --orange-disable: #ffdc9c;
    --yellow: #bea725;
    --yellow-hover: #8a7502;
    --yellow-disable: #cec490;
    --bg-card: #ffffff;
    --card-shadow: #0000007e;
    --primary-head: #396aa1;
    --detail-text: #5d9abdc5;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
}

.dashboard-right {
    width: 20%;
    position: fixed;
}

.dashboard-left {
    width: 80%;
    margin-left: 20%;
}

.side-container {
    padding: 32px;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--bg-secondary);
    left: 0;
    box-shadow: 0px 1px 1px var(--card-shadow);
}

.company-logo {
    width: 150px;
}

.navbar-container {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container {
    margin-top: 40px;
}

.nav-link-ul {
    row-gap: 15px;
}

.nav-links {
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-links>a {
    color: var(--primary-head);
    background-color: var(--bg-color);
    box-shadow: 1px 1px 3px 0px var(--card-shadow);
    transition: 0.2s ease;
    padding-left: 20px;
}

.nav-links>a:hover {
    color: var(--black);
    background-color: var(--primary-head);
}

.nav-link-a {
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    column-gap: 20px;
}

.profile-container {
    padding: 16px;
    bottom: 10px;
    border-radius: 12px;
    background-color: var(--bg-color);
    column-gap: 20px;
    box-shadow: 1px 1px 5px 0px var(--card-shadow);
    cursor: pointer;
}

.employee-profile-image {
    border-radius: 50% !important;
    border: 2px solid var(--primary-head);
    width: 60px !important;
    height: 60px !important;
}

.emp-name {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--primary-head);
}

.emp-role {
    font-size: 14px;
    color: var(--secondary-text-color);
}


/* header styling */

.header-wrapper {
    /* width:calc(100vw - 280px); */
    box-shadow: 3px 0px 5px var(--card-shadow);
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}

.header-nav-title {
    padding: 16px 32px;
    font-size: 1.2rem;
    color: var(--secondary-text-color)
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    margin: 0 !important;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}


/* .switch:hover */

.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* .switch:hover */

.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}


/* component */

.component-container {
    display: flex;
}


/* dashboard data styling */

.dashboard-data-container {
    padding: 1rem;
    flex-wrap: wrap;
}

.col_3 {
    width: calc(100%/3);
    padding: 1rem;
}

.col_3_merge {
    width: calc((100%/3)*2);
    padding: 1rem;
}

.dashboard-card {
    background-color: var(--bg-card);
    padding: 1rem;
    box-shadow: 1px 1px 3px var(--card-shadow);
}

.card_heading {
    font-size: 25px;
    color: var(--primary-head);
}

.dashboard-attendance-head {
    font-weight: 600;
    color: var(--black);
}

.dashboard-attendance-text {
    color: var(--secondary-text-color);
}

.dashboard-attendance-time-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-attendance-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.dashboard-attendance-btn {
    text-align: center;
    width: 100px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3 ease;
}

.check-in {
    background-color: var(--green);
}

.break-in {
    background-color: var(--orange);
}

.break-out {
    background-color: var(--orange);
}

.check-out {
    background-color: var(--red);
}

.dashboard-attendance-btn:hover {
    opacity: 0.8;
}

.userprofile-option-container {
    background-color: var(--blue-head);
    box-shadow: 0px 0px 3px var(--black);
    border-radius: 10px;
    padding: 8px;
    row-gap: 10px;
}

.profile-edit-btn {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 3px var(--black);
    /* color: var(--primary-text-color); */
}

.user-profile-edit {
    position: absolute;
    width: 210px;
    z-index: 2;
    bottom: 10px;
    left: 250px;
}

#comment-container>p {
    margin-top: 10px;
    padding: 8px;
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
    border-radius: 8px;
}

#add-comment-btn {
    opacity: 0.7;
}