@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Oswald&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #4338ca;
    --secondary-text-color:#4b5563;
    --white: #ffffff;
    --black: #000000;
    --bg-color:#f1f5f9;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
}

h1{
    font-size: 3rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
    
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}

.container{
    margin: 0 auto;
    padding: 0 16px;
}
.dashboard-right{
    width: 20%;
}
.dashboard-left{
    width: 80%;
}

.side-container{
padding: 32px;
position: sticky;
top: 0;
height: 100vh;
background-color: var(--white);
left:0;
box-shadow:0px 1px 1px #000000;
}
.company-logo{
    width: 150px;
}
.navbar-container{
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container{
    margin-top: 60px;
}

.nav-link-ul{
    row-gap: 15px;
}
.nav-links{
    font-weight: 500;
}
.nav-links>a{
    color: var(--primary-text-color);
    background-color: var(--bg-color);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.26);
    transition: 0.2s ease;
    padding-left: 20px;
}
.nav-links>a:hover{
    color: var(--white);
    background-color: var(--primary-text-color);
}
.nav-link-a{
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    column-gap: 20px;
}
.profile-container{
    padding: 16px;
    bottom: 10px;
    border-radius: 12px;
    background-color: var(--bg-color);
    column-gap: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.568);
    cursor: pointer;
}

.employee-profile-image{
    border-radius: 50% !important;
    border: 2px solid var(--primary-text-color);
    width: 60px !important;
    height: 60px !important;  
}
.emp-name{
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.emp-role{
    font-size: 14px;
    color: var(--secondary-text-color);
}

/* header styling */
.header-wrapper{
    /* width:calc(100vw - 280px); */
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.219);
}

.header-nav-title{
    padding: 16px 32px;
    font-size: 1.2rem;
    color: var(--secondary-text-color)
}


/* component */
.component-container{
    display: flex;
}
/* dashboard data styling */
.dashboard-data-container{
   padding: 1rem;
    flex-wrap: wrap;
}

.col_3{
    width: calc(100%/3);
    padding: 1rem;
}
.dashboard-attendance-card{
    
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px 32px;
    justify-content: space-between;
    row-gap: 32px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px #0000007e;
}

.dashboard-attendance-head{
    font-weight: 600;
    color: black;
}
.dashboard-attendance-text{
    color: var(--secondary-text-color);
}
.dashboard-attendance-time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-attendance-btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}
.dashboard-attendance-btn{
    text-align: center;
    width: 100px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3 ease;
}
.check-in{
    background-color: green;
}
.break-in{
    background-color: rgb(250, 160, 24);
}
.break-out{
    background-color: rgb(250, 160, 24);
}
.check-out{
    background-color: red;
}
.dashboard-attendance-btn:hover{
    opacity: 0.8;
}
.userprofile-option-container{
    background-color: #0d1e7e;
    box-shadow: 0px 0px 3px #000000;
    border-radius: 10px;
    padding: 8px;
    row-gap: 10px;
}
.profile-edit-btn{
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 3px #000000;
    /* color: var(--primary-text-color); */
}

.user-profile-edit{
    position: absolute;
    width: 210px;
    z-index: 2;
    bottom: 10px;
    left: 250px;
    
}
#comment-container > p{
    margin-top: 4px;
    padding: 8px;
    background-color: var(--bg-color);
    border-radius: 8px;
}

#add-comment-btn{
    opacity: 0.7;
}