.your_attendance_card{
 background-color: white;
 padding: 1rem;
}


.record{
    display: flex;
    flex-wrap: wrap;
}
.col_2
{
    width: calc(100%/2);
    padding: 1rem;
}
.title{
    font-size: 16px;
    color: #002f4b;
    display: block;
    font-weight: 600;
    margin-bottom: 2px;
}
.detail{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,47,75,.5);
}
.staffing{
    background: rgba(255,6,0,.1);
    color: #ff0600;
    padding: .5rem;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;

}