.contain {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

}
.contain img{
width: 100%;
}

.sensation-wrapper{
    padding-inline: 2rem;
}

.sensation-top{
    z-index: 2;
    top: 0;
    position: fixed;
    width: 80%;

}

.userMessage {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: 10rem;
    background-color: #475;


}
.text-container{
    align-items: center;
    margin: 10px 2px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    width: 45%;
    background-color: var(--bg-card);
    box-shadow: 0px 0px 2px 1px var(--card-shadow);
    
}

.emp-name {
    display: inline-block;
}
.emp-comment{
    color: var(--detail-text);
    display: inline-block;
}

.input-img {
    display: inline-block;
}

.input-text {
    display: inline-block;
    width: 100%;
}
.input-text p{
display: inline;
font-size: 50px;
position: relative;
right: 47px;
top: 10px;
}

.sensation-img {

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

#sensation {
    margin-left: 10px;
    padding-left: 10px;
    color: red;
    width: 88%;
}

.form{
    display: inline-block;
    width: 100%;

}

.form input {
    height: 3rem;
    padding: 0 1rem;
    font-size: 18px;
    border: 1px solid #251818;
    border-radius: 6px;
    outline: none;
}
.input-tag{
    margin-top: 20px;
    bottom: 10px;
    position:absolute;
    width: 77%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.sensation-submit{
    border: none !important;
    color: var(--secondary-text-color);
    background-color: var(--detail-text);
}
.sensation-messages{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    max-height: 80vh;
    width: 100%;
    overflow-y:scroll !important;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}
.container-right{
    align-self: flex-end;
}