<div class="dashboard-card">
    <div class="card_heading">
        <h4>Add Your Comment</h4>
    </div>
    <hr>
    <div class="input">
        <div class="textbox">
            <input type="text" name="comment" id="comment" placeholder="Type here.." oninput="validateComment()" >
        </div>
        <div class="button">
            <button id="add-comment-btn" onclick="addComment()" disabled>Comment</button>
        </div>
    </div>
    <div>
        <div id="comment-container">
            <%for(i=0;i<commentData.length;i++){%>

                <p> <%-commentData[i].comment%></p>
            <%}%>
        </div>
    </div>
</div>