<div class="your_comment">
    <div class="heading">
        <h4>Add Your Comment</h4>
    </div>
    <hr>

    <div class="input">
        <div class="textbox">
            <input type="text" name="comment" placeholder="Type here..">
        </div>
        <div class="button">
            <button>Comment</button>
        </div>
    </div>
    
</div>