<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotline</title>
    <link rel="stylesheet" href="../style/hotline.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="master">
        <div class="container">
            <main>
                <div class="main-left">
                   
                    <div class="end">
                     
                        <div class="last">
                            <div class="info">
                                <p>Hey, <b>Gunjan</b></p>
                                <small class="text">Admin</small>

                            </div>
                            <div class="photo">
                                <img src="..`/images/admin.jpeg" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>


        <section class="">
            <div class="container">
                <div class="row1">
                    <div class="column1">
                        <img src="../images/people.png" alt="">
                        <h2>Online</h2>
                    </div>
                    <div class="column2">
                        <img src="../images/people.png" alt="">
                        <h2>On break</h2>
                    </div>
                    <div class="column3">
                        <img src="../images/people.png" alt="">
                        <h2>On WFH</h2>
                    </div>
                    <div class="column4">
                        <img src="../images/people.png" alt="">
                        <h2>Offline</h2>
                    </div>
                    <div class="column5">
                        <img src="../images/people.png" alt="">
                        <h2>On Leave</h2>
                    </div>
                </div>

            </div>

        </section>


        <section class="sec1">
            <div class="container">
                <div class="search">
                    <form action="#">
                        <input type="text" placeholder=" Search Employee..." name="search">
                        <button>
                            <i class="fa fa-search" style="font-size: 18px;">
                            </i>
                        </button>
                    </form>
                </div>
            </div>
        </section>


        <section class="sec1">
            <div class="container">
                <div class="row">
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Gunjan Kacha</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                           
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i> esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                                            
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Swastik Jadav</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Priya Parmar</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Harshil Lathiya</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Nisarh Rakholiya</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Prachi Khajuria</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Sandhya Kanojia</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col_4">
                        <div class="card">
                            <div class="online">
                                <div class="emmtop">
                                    <div class="place"><!----><!---->
                                        <i class="fa fa-building office ng-star-inserted"></i>
                                    </div>
                                    <div class="emp-status"><!---->
                                        <label class="active ng-star-inserted">Online
                                        </label><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="empl"><img src="../public/images/admin.jpeg"></div>
                                <div class="emp-info">
                                    <h3>Drashti Trivedi</h3>
                                    <span>SDL-1</span>
                                </div>
                                <div class="emp-infoul">
                                    <div class="two-part">
                                        <div class="tp-single">
                                            <p>Departement</p>
                                            <p title="Development">Development</p>
                                        </div>
                                        <div class="tp-single">
                                            <p>Date Hired</p>
                                            <p>23 -01-2023</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                    
                                            <p title="gfgdfgdg@gmail.com"><i aria-hidden="true" class="fa fa-envelope"></i>
                                                esparkinfo23@gmail.com</p>
                                        </li>
                                        <li class="l1">
                    
                                            <p><i aria-hidden="true" class="fa fa-phone"></i>7878545453</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</body>

</html>