<div class="your_birthday_card">
    <div class="heading">
        <div class="tx">
            <h5>Upcoming Birthday</h5>
            </div>

        <div class="btn">
            <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a>
        </div>

        
        
    </div>
    <div class="born">
        <div class="inner1">
            <img src="../images/women.jpeg" alt="">
        </div>
        <div class="text">
            <a>Gunjan Kacha</a>
            <a>Development</a>
            <a>21 Mar</a>
        </div>
    </div>
    
</div>