<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkin&checkout</title>
</head>
<link rel="stylesheet" href="../public/style/checkin.css">

<body>
    <link rel="stylesheet" href="./checkin.css">

    <body onload="loadDate()">
        <div class="container">


            <div _ class="check_text">
                <h4>Today's Action</h4>
            </div>
            <hr>

            <div class="check-info">
                <div class="current">
                    <label>Current Date</label><br>
                    <span>17/3/2023</span>
                </div>
                <div class="current">
                    <label>Current Time</label><br>
                    <span id="Time"></span>
                </div>
            </div>

            <div class="check-inout">
                <div class="btn-checkin" id="checkin">


                    <a href="#" onclick="checkIn()">

                        <img src="/images/check-in.svg">
                        <span>Check In</span>
                    </a>

                </div>
                <div class="btn-brakein" id="brakein">
                    <a href="#" onclick="brakeIn()">
                        <img src="/images/break-in.svg">
                        <span>Break In</span>
                    </a>
                </div>


                <div class="btn-checkout" id="checkout">
                    <a href="#" onclick="checkOut()">
                        <img src="/images/check-out.svg">
                        <span>Check Out</span>
                    </a>
                </div>

                <div class="btn-brakeout" id="brakeout">
                    <a href="#" onclick="brakeOut()">
                        <img src="/images/break-out.svg">
                        <span>Break Out</span>
                    </a>
                </div>
            </div>


            <div class="custom-attendance ng-star-inserted ">
                <div class="attendace ">
                    <div class="check_text ">
                        <h4>Attendance</h4>
                    </div>
                    <hr>
                    <div id="green">

                    </div>
                    <div id="orange"></div>

                    <div id="yellow">

                    </div>

                    <div id="red">

                    </div>

                    <div class="break-wrap ">

                    </div>

                </div>
            </div>
        </div>

        </div>
        </div>

        <script src="/script/checkin.js"></script>
    </body>


</html>