<<<<<<< HEAD
<main>
    <div class="main-left">
        <div class="dash-left">
            <h1>Dashboard</h1>
        </div>

        <div class="end">
            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="last">
                <div class="info">
                    <p>Hey, <b>Gunjan</b></p>
                    <small class="text">Admin</small>

                </div>
                <div class="photo">
                    <img src="/images/admin.jpeg" alt="">

                </div>
            </div>
        </div>
        
    </div>
    <div class="insights">
        <div class="card">
            <h2>Record Your Attendance</h2>
            <h3>Attendance</h3>
            <h3>Late</h3>
            <h3>Absent</h3>
            <h3>Half Days</h3>
            <h3>Worked Hours</h3>
        </div>
        <div class="card">
            <h2>Record Your Attendance</h2>
            <h3>Attendance</h3>
            <h3>Late</h3>
            <h3>Absent</h3>
            <h3>Half Days</h3>
            <h3>Worked Hours</h3>
        </div>
        <div class="card">
            <h2>Record Your Attendance</h2>
            <h3>Attendance</h3>
            <h3>Late</h3>
            <h3>Absent</h3>
            <h3>Half Days</h3>
            <h3>Worked Hours</h3>
        </div>
        
    </div>




</main>
=======
<div class="header-wrapper">
    <div class="header-nav-title">
        <h2><%=name%></h2>
    </div>
</div>
>>>>>>> 562d9bdf6cbf3e37d234d2ad13eb761caa1743ef
