<div class="header-wrapper">
    <div class="header-nav-title item-center" style="display: flex; justify-content: space-between;" >
        <h2><%=name%></h2>
        <% if(locals.link){ %>
            <a href="../../dashbord">Switch to Employee</a>
        <% }%>
    </div>

</div>
