<div class="header-wrapper">
    <div class="header-nav-title " style="display: flex; justify-content: space-between;" >
        <h2><%=name%></h2>
        <a href="/get-logout">Logout</a>
    </div>

</div>
