<div class="your_holiday_card">
    <div class="heading">
        <h4>Holidays</h4>
        <div class="btn">
            <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a>
        </div>        
    </div>
    <div class="inner">
        <img src="../images/diwali.jpeg" alt="">
    </div>
</div>