<div class="col_4">
    <div class="user_card">
        <div class="staus">
            <span>online</span>
        </div>

        <div class="user_image">
            <img src=' /<%=profile_photo.toString() %> 'alt="">
        </div>

        <div class="detail">
            <h4><%=first_name%> <%=last_name%></h4>
            <p>Jr. Software Developer</p>
        </div>

        <div class="info">
            <div class="top">
                <div>
                    <label for="">Departement</label>
                    <p>Development</p>
                </div>

                <div>
                    <label for="">Date Hired</label>
                    <p>20-02-2023</p>
                </div>
                
            </div>

            <p> <i class="fa-sharp fa-solid fa-envelope"> </i>vaishnavjigar37@gmail.com </p>
            <p><i class="fa-solid fa-phone"></i> Not available</p>
        </div>
    </div>
</div>