<div class="your_attendance_card">
    <div class="heading"> 
        <h4>Record Your Attendance</h4>
    </div>
    <hr>
    <div class="record">
        <div class="col_3" >
            <div class="title"><label> Attendance</label> </div>
            <div class="detail"><label > 14 Days </label></div>
        </div>

        <div class="col_3">
            <div class="title"><label > Late</label></div>
            <div class="detail"><label > 0 Day</label></div>
        </div>

        <div class="col_3">
            <div class="title"><label >Absent</label></div>
            <div class="detail"> <label > 0 Days</label></div>
        </div>

        <div class="col_3">
            <div class="title"> <label > Half Days</label></div>
            <div class="detail"><label > 0 Day </label></div>
        </div>

        <div class="col_2">
            <div class="title"><label > Worked hours</label></div>
            <div class="detail"><label >122 hr 10 mins</label></div>
        </div>

        
    </div>

    <div class="staffing">
        <p>Your previous staffing was less than 09:00 hours </p>
    </div>

</div>