<div class="side-container">
  <div class="logo-container flex justify-center">
    <img src="/images/companylogo.png" alt="company logo" class="company-logo" />
  </div>
  <div class="navbar-container flex">
    <div class="nav-container">
      <nav class="main-nav">
        <ul class="flex flex-col nav-link-ul">
          <li class="nav-links">
            <a class="flex nav-link-a" id="nav-link-a" href="/dashbord"
              ><i class="fa-solid fa-house-chimney"></i> Dashboard</a
            >
          </li>
          <li class="nav-links">
            <a class="flex nav-link-a" id="nav-link-a" href="/dashbord/get-hotline"
              ><i class="fa-solid fa-user"></i> Hotline</a
            >
          </li>
          <li class="nav-links">
            <a class="flex nav-link-a" id="nav-link-a" href="/dashbord/get-attendance"
              ><i class="fa-solid fa-clock"></i> Attendance</a
            >
          </li>
          <li class="nav-links">
            <a class="flex nav-link-a" id="nav-link-a" href="/dashbord/get-leave"
              ><i class="fa-solid fa-shuttle-space"></i> Leave</a
            >
          </li>
          <li class="nav-links">
            <a class="flex nav-link-a" href="/dashbord/get-sensation"
              ><i class="fa-solid fa-comments"></i> Sensation</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="profile-container flex flex-row item-center" id="profile-container" onclick="openMenu()">

      <div class="profile-image-container">
        <img
          class="employee-profile-image"
          src='/<%= profilePhoto%>'
          onerror="this.src='/images/man.png';this.onerror='';"
          alt='/images/man.png'
        />
      </div>
      <div class="employee-name" >
        <p class="emp-name"><%=first_name%></p>
        <p class="emp-role">Developer</p>
      </div>

    </div>

    <div class="user-profile-edit" id="user-profile-edit" style="display: none;">
      <div class="userprofile-option-container flex flex-col">
        <p class="emp-name" id="userName"><%=first_name%></p>
        <a class="profile-edit-btn" href="../get-employee-edit">Edit Profile</a>
        <a class="profile-edit-btn" href="/dashbord/viewProfile">View Profile</a>
        <a class="profile-edit-btn" href="../get-logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<script src="/script/sidebar.js"></script>