<aside>
    <div class="top">
        <div class="logo">
            <img src="/images/logo1.jpeg" alt="">
        </div>
    </div>
    <div class="side-bar">
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">grid_view</span>
            </div>
            <div class="right">
                <h3>Dashboard</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">sync</span>
            </div>
            <div class="right">
                <h3>Hotline</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">person</span>
            </div>
            <div class="right">
                <h3>Attendance</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">directions_walk</span>
            </div>
            <div class="right">
                <h3>Leaves</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">policy</span>
            </div>
            <div class="right">
                <h3>Company Policy</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">groups</span>
            </div>
            <div class="right">
                <h3>Sensation</h3>
            </div>
        </a>
        <a href="" class="x">
            <div class="left">
                <span class="material-icons-sharp">logout</span>
            </div>
            <div class="right">
                <h3>Logout</h3>
            </div>
        </a>
    </div>
</aside>