<div class="side-container">
<<<<<<< HEAD
    <div class="logo-container flex justify-center">
        <img src="../images/hrms.png" alt="company logo" class="company-logo">
    </div>
    <div class="navbar-container flex">
=======
  <div class="logo-container flex justify-center">
    <img src="../images/hrms.png" alt="company logo" class="company-logo" />
  </div>
  <div class="navbar-container flex">
>>>>>>> 44389960cdf49a9acb0a6bcca99fc77f5fbed21a
    <div class="nav-container">
        <nav class="main-nav">
            <ul class="flex flex-col nav-link-ul">
                <li class="nav-links"><a class="flex nav-link-a" href="/deshbord"><i class="fa-solid fa-house-chimney"></i> Dashboard</a></li>
                <li class="nav-links"><a class="flex nav-link-a" href="/deshbord/get-hotline"><i class="fa-solid fa-user"></i> Hotline</a></li>
<<<<<<< HEAD
                <li class="nav-links"><a class="flex nav-link-a" href=""><i class="fa-solid fa-clock"></i> Attendance</a></li>
                <li class="nav-links"><a class="flex nav-link-a" href=""><i class="fa-solid fa-shuttle-space"></i> Leave</a></li>
=======
                <li class="nav-links"><a class="flex nav-link-a" href="/deshbord/get-attendance"><i class="fa-solid fa-clock"></i> Attendance</a></li>
                <li class="nav-links"><a class="flex nav-link-a" href="/deshbord/leave"><i class="fa-solid fa-shuttle-space"></i> Leave</a></li>
>>>>>>> 44389960cdf49a9acb0a6bcca99fc77f5fbed21a
                <li class="nav-links"><a class="flex nav-link-a" href=""><i class="fa-solid fa-comments"></i> Sensation</a></li>
            </ul>
        </nav>
    </div>

    <div class="profile-container flex flex-row item-center">
<<<<<<< HEAD
        <div class="profile-image-container">
            <img class="employee-profile-image" src="../images/sagar.jpg" alt="employee profile picture">
        </div>
        <div class="employee-name">
            <p class="emp-name">Sagar Khatri</p>
            <p class="emp-role">Developer</p>
        </div>
    </div>
    </div>
=======
      <div class="profile-image-container">
        <img
          class="employee-profile-image"
          src="../images/sagar.jpg"
          alt="employee profile picture"
        />
      </div>
      <div class="employee-name">
        <p class="emp-name">Sagar Khatri</p>
        <p class="emp-role">Developer</p>
      </div>
    </div>
  </div>
>>>>>>> 44389960cdf49a9acb0a6bcca99fc77f5fbed21a
</div>
