
<div class="dashboard-card">
    <div class="card_heading flex" style="justify-content: space-between;"> 
        <h4 style="display:inline-block" >Today's Employee Activities</h4>
        <input type="text" id="usersLogSearch" style="padding: 10px;
        font-size: 16px;
        margin-bottom: 5px;
        border-radius: 8px;
        border: 0.5px solid;"
         placeholder="search...." oninput="handelUsersLogSearch(this.value)">
    </div>

    <hr>

    <div class="log_container" id="log_container" >

    </div>
<div>