<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d11fdd863.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/dashboard.css">
    <title>HRMS- Dashboard</title>
</head>
<body>
    <div class="dashboard-wrapper flex flex-row">
        <div class="dashboard-right">
            <%- include('components/sidebar.ejs') %>

        </div>
        <div class="dashboard-left">
            <%- include('components/header.ejs') %>
        <div class="dashboard-data-container flex flex-row">
            <div class="dashboard-attendance-card flex">
                <div class="dashboard-attendance-time-container flex">
                    <div>
                        <p class="dashboard-attendance-head">Current Date</p>
                        <p class="dashboard-attendance-text">99/99/9999</p>
                    </div>
                    <div>
                        <p class="dashboard-attendance-head">Current Time</p>
                        <p class="dashboard-attendance-text">99:99:9999</p>
                    </div>
                </div>
                <div class="dashboard-attendance-btn-container">
                    <p class="check-in dashboard-attendance-btn">Check In</p>
                    <p class="break-in dashboard-attendance-btn">Break In</p>
                    <p class="break-out dashboard-attendance-btn">Break Out</p>
                    <p class="check-out dashboard-attendance-btn">Check Out</p>
                </div>
            </div>
            <div class="dashboard-attendance-card"></div>
            <div class="dashboard-attendance-card"></div>
        </div>
       
        </div>
    </div>

</body>
</html>