<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/employeeactivity.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container1">
        <div class="emplloyee_activity">
            <div class="text_activity">
                <h5>Today's Employee Activities</h5>
            </div>
            <div class="refresh">
                <input type="text" placeholder="Serch here..." id="serch_employee">
                <a href=""><img class="img_refress" src="../public/images/profile_image.jpg" alt=""></a>

            </div>

        </div>
        <hr>
        <div class="activity_detailes  overflow-auto">
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
            <div class="activity_user">
                <span id="amployee_id">Keval kadivar</span>
                <span id="brakein_out" class="brake__out">brakeout</span>
                <span id="" class="brake__in"></span>
                <span id="" class="check__out"></span>
                <span id="" class="check__in"></span>
                <span class="activity_time">02:02 Am</span>
            </div>
        </div>
    </div>
</body>

</html>