<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/fevicon_logo.jpeg">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    <div class="container">


        <div class="registration form">
            <header>Set your Password </header>
            <form action="/reset-password" method="post">
                <input type="text" placeholder="Enter your email" name="user_email" id="email1" onchange="emailCorrect2()"> <small id="emailErr">*</small>

                <div id="before-verify">
                    <div style="display: flex; gap: 10px; margin-bottom: 20px;">
                        <input type="text" placeholder="enter your Code" id="getcodem" name="code">
                        <div class="confirm_btn">
                            <input onclick="getCode()" type="button" value="Get Code" class="codem"></a>
                        </div>
                    </div>
                    <span id="wrong-otp"></span>
                    <p onclick="verifyOtp()" class="forgot-buttons">Verify</p>
                </div>

                     <div class="reset-password" id="reset-password" style="display: none;">
                        <input type="password" placeholder="Create a password" name="user_password" id="Password" oninput="passwordError()">
                        <i class="fa-solid fa-eye" id="togglePassword"></i>
                        <small id="passwordErr">*</small> 
                        <input type="password" placeholder="Confirm your password" onchange="confirmPassword()" id="Cpassword">
                        <small id="passvalid">*</small>
                        <div class="confirm_btn">
                        <input type="submit" class="codem" id="sub_id" value="Submit">
                    </div>
                </div>

            </form>
            <div class="signup">
                <span class="signup">Back to login page  ?
                <a  href="/get-login">Login</a>
                </span>
            </div>

        </div>
    </div>

    <script src="/script/forget.js"></script>

</body>

</html>