<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="container">


        <div class="registration form">
            <header>Set your Password </header>
            <form action="/post-changepassword" method="post">
                <input type="text" placeholder="Enter your email" name="user_email" id="email1" onchange="emailCorrect2()"> <small id="emailErr">*</small>

                <input type="text" placeholder="enter your Code" id="getcodem" name="code">
                <div class="confirm_btn">
                    <input type="submit" class="codem" id="sub_id" value="Submit">
                    <input onclick="getCode()" type="button" value="Get Code" class="codem"></a>
                </div>

            </form>
            <div class="signup">
                <span class="signup">Back to login page  ?
                <a  href="/get-login">Login</a>
                </span>
            </div>

        </div>
    </div>

    <script src="/script/forget.js"></script>

</body>

</html>