<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/fevicon_logo.jpeg">
    <!-- CDN-fonts -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- STYLESHEET -->

    <link rel="stylesheet" href="/public/css/header.css" type="text/css"  />

</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/public/images/logo1.jpeg" alt="">

                </div>
            </div>
            <div class="side-bar">

                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">grid_view</span>
                    </div>
                    <div class="right">
                        <h3>Dashboard</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">sync</span>
                    </div>
                    <div class="right">
                        <h3>Hotline</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">person</span>
                    </div>
                    <div class="right">
                        <h3>Attendance</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">directions_walk</span>
                    </div>
                    <div class="right">
                        <h3>Leaves</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">policy</span>
                    </div>
                    <div class="right">
                        <h3>Company Policy</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">groups</span>
                    </div>
                    <div class="right">
                        <h3>Sensation</h3>
                    </div>
                </a>
                <a href="" class="x">
                    <div class="left">
                        <span class="material-icons-sharp">logout</span>
                    </div>
                    <div class="right">
                        <h3>Logout</h3>
                    </div>
                </a>
            </div>
        </aside>

        <!-- END OF ASIDE -->

        <main>

            <div class="main-left">
                <div class="dash-left">
                    <h1>Dashboard</h1>
                </div>


            </div>

            <div class="insights">
                <div class="card">

                    <div class="middle">
                        <div class="left">
                            <h2>Record Your Attendance</h2>
                            <h3>Attendance</h3>
                            <h3>Late</h3>
                            <h3>Absent</h3>
                            <h3>Half Days</h3>
                            <h3>Worked Hours</h3>
                        </div>
                    </div>
                </div>

                <!-- END OF 1-CARD -->
                <div class="card">

                    <div class="middle">
                        <div class="left">
                            <h2>Record Your Attendance</h2>
                            <h3>Attendance</h3>
                            <h3>Late</h3>
                            <h3>Absent</h3>
                            <h3>Half Days</h3>
                            <h3>Worked Hours</h3>
                        </div>
                    </div>
                </div>

                <!-- END OF 2-CARD -->


                <!-- END OF 1-CARD -->
                <div class="card">

                    <div class="middle">
                        <div class="left">
                            <h2>Record Your Attendance</h2>
                            <h3>Attendance</h3>
                            <h3>Late</h3>
                            <h3>Absent</h3>
                            <h3>Half Days</h3>
                            <h3>Worked Hours</h3>
                        </div>
                    </div>
                </div>

                <!-- END OF 3-CARD -->


                <div class="card">

                    <div class="middle">
                        <div class="left">
                            <h2>Record Your Attendance</h2>
                            <h3>Attendance</h3>
                            <h3>Late</h3>
                            <h3>Absent</h3>
                            <h3>Half Days</h3>
                            <h3>Worked Hours</h3>
                        </div>
                    </div>
                </div>

                <!-- END OF 4-CARD -->
            </div>

        </main>

        <!-- END OF MAIN-->



        <aside>

            <div class="end">
                <div class="toggle">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="last">
                    <div class="info">
                        <p>Hey, <b>Gunjan</b></p>
                        <small class="text">Admin</small>

                    </div>
                    <div class="photo">
                        <img src="/public/images/profile.jpeg" alt="">

                    </div>
                </div>
            </div>


            <div class="ins">
                <div class="card">
            
                    <div class="middle">
                        <div class="left">
                            <h2>Record Your Attendance</h2>
                            <h3>Attendance</h3>
                            <h3>Late</h3>
                            <h3>Absent</h3>
                            <h3>Half Days</h3>
                            <h3>Worked Hours</h3>
                        </div>
                    </div>
                </div>




        </aside>

    </div>
</body>

</html>