<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotline</title>
    <link rel="stylesheet" href="hotline.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="master">
        <div class="container">
            <main>
                <div class="main-left">
                    <div class="dash-left">
                        <h1>Hotline</h1>
                    </div>

                    <div class="end">
                        <!-- <div class="toggle">
                             <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label> 
                        </div> -->
                        <div class="last">
                            <div class="info">
                                <p>Hey, <b>Gunjan</b></p>
                                <small class="text">Admin</small>

                            </div>
                            <div class="photo">
                                <img src="./images/admin.jpeg" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>


        <section class="sec1">
            <div class="container">
                <div class="row1">
                    <div class="column1">
                        <img src="./images/people.png" alt="">
                        <h1>Online</h1>
                    </div>
                    <div class="column2">
                        <img src="./images/people.png" alt="">
                        <h1>On break</h1>
                    </div>
                    <div class="column3">
                        <img src="./images/people.png" alt="">
                        <h1>On WFH</h1>
                    </div>
                    <div class="column4">
                        <img src="./images/people.png" alt="">
                        <h1>Offline</h1>
                    </div>
                    <div class="column5">
                        <img src="./images/people.png" alt="">
                        <h3>On Leave</h3>
                    </div>
                </div>

            </div>
        </section>


        <section class="sec1">
            <div class="container">
                <div class="search">
                    <form action="#">
                        <input type="text" placeholder=" Search Employee..." name="search">
                        <button>
                            <i class="fa fa-search" style="font-size: 18px;">
                            </i>
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <section class="sec1">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                          
                        </div>
                        <div class="subcard1">                            
                            <p>Department</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>

                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                    <div class="column">
                        <img src="./images/admin.jpeg" alt="">
                        <div class="text">
                            <h2>Gunjan Kacha</h2>
                            <p> SDL - 1</p>
                        </div>
                        <div class="subcard1">
                            <p>Content here...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</body>

</html>