<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form </title>

    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <div class="container">

        <div class="login form">
            <header>Login</header>
            <form action="/post-login" method="post">
                <input type="text" placeholder="Enter your email" name="user_email" onclick="removeText()" >
                <input type="password" placeholder="Enter your password" name="user_password">
                <%if(locals.err){%>
                    <p style="color:red;" id="showError"><%=err%></p>
                <%}%>
                <a href="/forget-password">Forgot password?</a>
                <input type="submit" class="button" value="submit">
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                 <a href="/get-registration" for="check">Signup</a>
                    </span>
            </div>
        </div>

    </div>
    <script>
        function removeText(){
            console.log("Hello Hw are you!...");
            var eoorrText=document.getElementById("showError").innerText="";
        }
    </script>


</body>

</html>